/*++++++头部++++++++*/
.head{
    margin: auto;
    font-size: 12px;
    width: 1228px;
}
.head .headnav a{
    margin-right: 20px;
}
.head .notice{
    display: inline-block;
    margin: 0 100px;
}
.head .notice img{
    vertical-align: middle;
}
.head .headlogo{
    color: #757575;
    padding: 24px 0 24px 0;
    font-size: 30px;
    font-weight: 900;
}
.head .headlogo img{
    vertical-align: middle;
    margin-right: 30px;
}
.headsearch{
    width: 475px;
    float: left;
    height: 89px;

}
.headsearch input{
    border: none;
    outline: none;
    font-size: 18px;
}
.headsearch p a {
    cursor: pointer;
}
.choice{
    cursor: pointer;
    font-weight: 900;
    color: white;
    float: left;
    width: 64px;
    height: 26px;
    background-color: #c30d23;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
}
.headsearch .one{
    color: #757575;
    background-color: white;
}

.headsearchdiv{
    float: left;
    line-height: 33px;
    width: 474px;
    height: 33px;
    border: 2px solid #c30d23;
}
.headsearchdiv input{
    vertical-align: middle;
    margin-bottom: 5px;
    padding-left: 10px;
}
.headsearchbtn{
    cursor: pointer;
    background-color:#c30d23 ;
    float: right;
    width: 85px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: white;
}
.headsearch p{font-size: 12px;line-height: 20px}
.shopcart{
    margin: 28px 20px;
    width:112px;
    height: 33px;
    background: url("../images/topcart.png");
    float: left;
}
.shopnav{
    float: left;
    list-style: none;
}
.shopnav>li{
    font-size: 16px;
    padding: 0 29px;
    height: 40px;
    float: left;
    line-height: 40px;
}
.shopnav .all{
    position: relative;
    padding: 0 55px;
}
.shopnav .all:hover div{
    display: block;
}
.shopnav>li:hover{
    background-color: #c30d23;
    color: white;
}
.shopnav .all div{
    display: none;
    left: 0;
    width: 100%;
    background-color:#d42230 ;
    color: white;
    position: absolute;
    z-index: 5;
}
.shopnav .all ul {
   list-style: disc;
    line-height: 25px;
    width: 60%;
    font-size: 12px;
    color: white;
    margin-right: 20%;
    float: right;
}
.shopnav .all ul a{
    color: white;
}
.shopnav .all ul a:hover{
    text-decoration: underline;
}
/*============主界面==========*/
.mainouter{
    overflow: hidden;
    width: 1228px;
    border-top: 2px solid #c30d23;
    margin: -2px auto;
}
/*++++++++++++++++++底部=============*/
.footertable{
    margin: auto;
}
.footertable a{
    color: #4b4846;
}
.footertable a:hover{color: #ff0000}
.footertable td{
    padding-right: 90px;
    vertical-align: top;
}
.footerdiv{
    min-width: 1228px;
    color: #4f456e;
    width: 100%;
    border-top: 2px solid #c30d23;
}
.code{
    overflow: hidden;
    width: 330px;
    margin: 55px auto 30px auto;
}
.code div img{
    width: 76px;
    height: 76px;
}
.code div{
    text-align: center;
}
.chaining a{
    color: #4f456e;
}
.chaining a:hover{color: #ff0000}
.chaining{
    text-align: center;
}
.cart{
    position: fixed;
    left: 100%;
    top: 50%;
    transform: translateX(-100%);
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background: url("../images/cart.png");
}